In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Keyingi mashqlar uchun ma'lumotlarni Githubdan yuklab olamiz
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/uzbekistan.csv', index_col=0)
df.columns = ['maydoni','aholisi']
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [ ]:
df.sum() # aholi va maydonni summasini chiqaradi

maydoni      441900.0
aholisi    22945800.0
dtype: float64

In [ ]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/gm_sales.csv", index_col=0)
df2.head()

         2020   2021
Labo     4521   7542
Damas   30889  33682
Spark   16370   6485
Nexia   41663  14442
Cobalt  44901  36317

In [ ]:
df2.sum() # qatorar boyicha summ qiladi

2020    168712
2021    124734
dtype: int64

In [ ]:
df2.sum(axis="columns") # ustunlar boyicha yani 2020 va 2021 da umumiy moshinalar soni coulmns degani ustunlar

Labo      12063
Damas     64571
Spark     22855
Nexia     56105
Cobalt    81218
Gentra    56634
dtype: int64

In [ ]:
df2.mean(axis=1) # 2 yil uchun o'rtacha qiymatni xisoblab beradi

Labo       6031.5
Damas     32285.5
Spark     11427.5
Nexia     28052.5
Cobalt    40609.0
Gentra    28317.0
dtype: float64

In [ ]:
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [ ]:
df.mean() # maydonning o'rtachasi va aholining o'rtacha qiymatini chiqaradi

maydoni    3.399231e+04
aholisi    1.765062e+06
dtype: float64

## Boshqa funksiyalar

`count` - NaN bo'lmagan qiymatlar soni

`median` - qiymatlar medianini hisbolash

`mad` - mean absolute deviation 

`prod` - barcha qiymatlar ko'paytmasi

`var` - variance (dispersiya)

`std` - standart deviation (standart chetlanis)

`skew` - skewness

`kurt` - kurtosis

`cumsum` - cumulative sum

`cummin` va `cummax`- cumulative min and max

`cumprod` - cumulative product

`diff` - arifmetik farq (difference)

`pct_change` - percent changes

In [ ]:
df.prod()

maydoni    1.538590e+55
aholisi    2.913892e+80
dtype: float64

In [ ]:
df

                                maydoni    aholisi
Boʻlinishi
Andijon viloyati                 4200.0  1899000.0
Buxoro viloyati                 39400.0  1384700.0
Fargʻona viloyati                6800.0  2597000.0
Jizzax viloyati                 20500.0   910500.0
Xorazm viloyati                  6300.0  1200000.0
Namangan viloyati                7900.0  1862000.0
Navoiy viloyati                110800.0   767500.0
Qashqadaryo viloyati            28400.0  2029000.0
Qoraqalpogʻiston Respublikasi  160000.0  1200000.0
Samarqand viloyati              16400.0  2322000.0
Sirdaryo viloyati                5100.0   648100.0
Surxondaryo viloyati            20800.0  1676000.0
Toshkent viloyati               15300.0  4450000.0

In [ ]:
df.idxmin() # min qiymatni oladi datasetdan

maydoni     Andijon viloyati
aholisi    Sirdaryo viloyati
dtype: object

In [ ]:
df.idxmax() # max qiymatlarni chiqaradi

maydoni    Qoraqalpogʻiston Respublikasi
aholisi                Toshkent viloyati
dtype: object

In [ ]:
df['maydoni'].argmax() # eng katta xududuning tartub raqamini ko'rsatadi

8

In [ ]:
df['aholisi'].argmin() # aholisi eng kam xududuning tartub raqamini ko'rsatadi

10

In [ ]:
df['aholisi']

Boʻlinishi
Andijon viloyati                 1899000.0
Buxoro viloyati                  1384700.0
Fargʻona viloyati                2597000.0
Jizzax viloyati                   910500.0
Xorazm viloyati                  1200000.0
Namangan viloyati                1862000.0
Navoiy viloyati                   767500.0
Qashqadaryo viloyati             2029000.0
Qoraqalpogʻiston Respublikasi    1200000.0
Samarqand viloyati               2322000.0
Sirdaryo viloyati                 648100.0
Surxondaryo viloyati             1676000.0
Toshkent viloyati                4450000.0
Name: aholisi, dtype: float64

In [ ]:
df.iloc[10]

maydoni      5100.0
aholisi    648100.0
Name: Sirdaryo viloyati, dtype: float64