In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a  1.483615  0.526299 -0.763231 -0.004370
b  0.707568  0.896917  0.531171  0.608292
c -0.932421  0.938480  0.667250  0.805894

In [ ]:
np.abs(-5) # modullash desa ham boladi

5

In [ ]:
np.abs(df) # df ning barcha elementlarini musbat qildi

       Olma      Anor     Qovun     Anjir
a  1.483615  0.526299  0.763231  0.004370
b  0.707568  0.896917  0.531171  0.608292
c  0.932421  0.938480  0.667250  0.805894

In [ ]:
np.round(df) # df ning barcha elementlarini butun son ko'rinishiga o'tkazadi

   Olma  Anor  Qovun  Anjir
a   1.0   1.0   -1.0   -0.0
b   1.0   1.0    1.0    1.0
c  -1.0   1.0    1.0    1.0

In [ ]:
df

       Olma      Anor     Qovun     Anjir
a  1.483615  0.526299 -0.763231 -0.004370
b  0.707568  0.896917  0.531171  0.608292
c -0.932421  0.938480  0.667250  0.805894

In [ ]:
df.mean() #o'rtacha qiymatni chiqarib beradi  olma uchun alohida anor uchun alohida ustunlar boyicha edi

Olma     0.419588
Anor     0.787232
Qovun    0.145063
Anjir    0.469938
dtype: float64

In [ ]:
df.mean(axis=1) # qatorlar uchun o'rtacha qiymat

a    0.310578
b    0.685987
c    0.369801
dtype: float64

In [ ]:
df.apply(np.abs) # apply metodi ham shunaqa ishlaydi, afzalligi biz ozimiz fuksiyalarni yozishimz mumkin

       Olma      Anor     Qovun     Anjir
a  1.483615  0.526299  0.763231  0.004370
b  0.707568  0.896917  0.531171  0.608292
c  0.932421  0.938480  0.667250  0.805894

In [ ]:
df.apply(sum, axis=1)

a    1.242312
b    2.743948
c    1.479202
dtype: float64

In [ ]:
f = lambda x: x.max() - x.min() # bu yerda df ning maximum va minumum qiymatlarini ortasidagi farqni chiqaradi

In [ ]:
df.apply(f)

Olma     2.416036
Anor     0.412181
Qovun    1.430481
Anjir    0.810264
dtype: float64

In [ ]:
def foo(x):
  return pd.Series([x.min(), x.max()], index=['min','max'])

In [ ]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
min -0.932421  0.526299 -0.763231 -0.004370
max  1.483615  0.938480  0.667250  0.805894

In [ ]:
df

       Olma      Anor     Qovun     Anjir
a  1.483615  0.526299 -0.763231 -0.004370
b  0.707568  0.896917  0.531171  0.608292
c -0.932421  0.938480  0.667250  0.805894

In [ ]:
df2 = pd.DataFrame(np.arange(1, 13).reshape(3,4), index=list('abc'), columns=['Olma', 'Anor', 'Qovun', 'Anjir'] )

In [ ]:
df2

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [ ]:
df2.applymap(lambda x: x*x)

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144